In [82]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np

import pandas as pd

from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.model_selection import train_test_split

vgdata = pd.read_csv('regreadyvgsales2.csv')
vgdata.head()

,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,User_Score,Rating
0,7,2006.0,1,53,33.088,23.168,3.016,6.760,66.024,7.6,8.0,0
1,7,2008.0,4,53,12.544,10.208,3.032,2.632,28.416,8.2,8.3,0
2,7,2009.0,1,53,12.488,8.744,2.624,2.360,26.216,8.0,8.0,0
3,4,2006.0,6,53,9.024,7.312,5.200,2.304,23.840,8.9,8.5,0
4,7,2006.0,5,53,11.168,7.344,2.344,2.272,23.136,5.8,6.6,0

In [83]:
vgdata = vgdata.drop(['JP_Sales', 'EU_Sales','NA_Sales', 'Other_Sales', 'Year_of_Release' ], axis = 1)
vgdata.head()

   Platform  Genre  Publisher  Global_Sales  Critic_Score  User_Score  Rating
0         7      1         53        66.024           7.6         8.0       0
1         7      4         53        28.416           8.2         8.3       0
2         7      1         53        26.216           8.0         8.0       0
3         4      6         53        23.840           8.9         8.5       0
4         7      5         53        23.136           5.8         6.6       0

In [84]:
X = vgdata.drop(['Global_Sales'], axis = 1)
y = vgdata['Global_Sales']

print("Shape: ", X.shape, y.shape)

Shape:  (6825, 6) (6825,)

In [85]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [86]:
model = LinearRegression()

# Fit the model to the training data, and calculate the scores for the training and testing data.
model.fit(X_train, y_train)

LinearRegression()

In [87]:
# Use our model to predict a value
predicted = model.predict(X)

# Score the prediction with MSE and R2
mse = mean_squared_error(y, predicted)
r2 = r2_score(y, predicted)

print(f"mean squared error (MSE): {mse}")
print(f"R-squared (R2 ): {r2}")

mean squared error (MSE): 2.307696646204543
R-squared (R2 ): 0.06453858577938332

In [88]:
# Overall Score for the model
model.score(X, y)

0.06453858577938332